@import '../vendor/normalize.css';
@import '../vendor/fonts.css';
@import '../blocks/root/root.css';
@import '../images/Logo.png';
@import '../images/image\ 1.jpg';
@import '../images/Favicon.png';
@import '../images/image\ 2.jpg';
@import '../images/Vector.svg';
@import '../images/Heart.svg';
@import '../images/image\ 3.jpg';
@import '../images/image\ 4.jpg;';

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: white;
}

.logo {
    width: 98.56px;
    height: 65.29px;
    padding-top: 11.22px;
}

.button {
    font-size: 16px;
    text-align: center;
    border-radius: 12px;
    height: 40px;
    width: 182px;
    margin-top: 24px;
    background-color: rgba(0,0,0,0.04);
    border-width: 2px;
    border-color: #FF9E1F;
    border-style: solid;
    background-color: white;
}

.button:active {
    background-color: #e5e5e5;
}

.section {
    background-color:white;
    padding-top: 20px;
    height: 100%;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;*/
    padding-left: 0;
    padding-right: 0;
    column-count: 4;
    column-width: 278px;
}

.card {
    width: 262px;
    height: min-content;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 18px;
    padding: 8px 8px 14.7px 8px;
    list-style: none;
    justify-self: center;
    break-inside: avoid;
    margin-bottom: 16px;
}

.card__image {
    width: 262px;
    height: 256px;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    display: inline-grid;
}

.card__block {
    display:flex;
    flex-direction: column;
}
.card__title {
    font-size: 16px;
    font-weight: 700;
}

.card__text {
    font-size: 14px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card__button {
    background-image: url(../images/Vector.svg);
    width: 20px;
    height: 17.29px;
    background-repeat: no-repeat;
    border-width: 0;
    background-color: white;
    align-self: flex-end;
}

.card__button:active,
.card__button:focus {
    background-image: url(../images/Heart.svg);
    background-position: center;
}
